{% extends 'layout.twig' %}

{% block body %}

<div class="page">
    {% if pages > 1 %}

    {# Number of page around current page+1 #}
    {% set nearbyPagesLimit = 5 %}

    <div>
        <ul class="pagination">
            {% if current != 1 %}
            <li>
                <a href="1">Début</a>
            </li>
            {% endif %}
            {% for i in 1..pages %}
                {% if 0 == (current - nearbyPagesLimit) - loop.index %} {# dot before #}
                    <li class="disabled"><a href="#">...</a></li>
                {% elseif 0 == (current + nearbyPagesLimit) - loop.index %} {# dot after #}
                    <li class="disabled"><a href="#">...</a></li>
                {% elseif 0 < (current - nearbyPagesLimit) - loop.index %} {# hide all before #}
                {% elseif 0 > (current + nearbyPagesLimit) - loop.index %} {# hide all after #}
                {% else %}
                    <li {% if current == loop.index  %} class="active"{% endif %}>
                        <a href="{{ loop.index}}" class="pageNumber"> {{ loop.index }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if current != pages %}
            <li>
                <a href="{{ pages}}">Fin</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
    <div class="contain">
    {% for doc in docs %}
        <div class="doc">
            <div class="headerDoc">
				<h3>{{ doc.titre|lower| truncate(26 - 3 - doc.domaine|length, false, '...') }} </h3>
                <h4>{{doc.domaine|lower}}</h4>
            </div>
            <div class="corpDoc">
                <div class="description">
                    <p>{{doc.description}}</p>
                    <p>Ajouté par {{doc.author}}</p>
                    <p> le {{doc.createdat}}</p>
                </div>
                <a class="download" href="/app/download/{{doc._id}}"><i class="fas fa-download fa-3x"></i></a>
                <a class="apercu"  name="{{doc._id}}" ><i class="fas fa-search fa-3x"></i></a>
            </div>	
        </div>
    {% endfor %}
    </div>
    <div class="page">
    {% if pages > 1 %}

    {# Number of page around current page+1 #}
    {% set nearbyPagesLimit = 5 %}

    <div>
        <ul class="pagination">
            {% if current != 1 %}
            <li>
                <a href="1">Début</a>
            </li>
            {% endif %}
            {% for i in 1..pages %}
                {% if 0 == (current - nearbyPagesLimit) - loop.index %} {# dot before #}
                    <li class="disabled"><a href="#">...</a></li>
                {% elseif 0 == (current + nearbyPagesLimit) - loop.index %} {# dot after #}
                    <li class="disabled"><a href="#">...</a></li>
                {% elseif 0 < (current - nearbyPagesLimit) - loop.index %} {# hide all before #}
                {% elseif 0 > (current + nearbyPagesLimit) - loop.index %} {# hide all after #}
                {% else %}
                    <li {% if current == loop.index  %} class="active"{% endif %}>
                        <a href="{{ loop.index}}" class="pageNumber"> {{ loop.index }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if current != pages %}
            <li>
                <a href="{{ pages}}">Fin</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
    <div
        id="dialog"
        role="dialog"
        aria-labelledby="dialog-title"
        aria-describedby="dialog-desc"
        aria-modal="true"
        aria-hidden="true"
        tabindex="-1"
        class="c-dialog">
        <div role="document" id="c-dialog__box" id="conteneur">
            
                <button 
                type="button" 
                aria-label="Fermer"
                id="closeModal" 
                title="Fermer cette fenêtre modale"
                data-dismiss="dialog">X
                </button>
                <div id="containerDoc">
        
           
        </div>
    </div>


{% endblock %}