{% extends 'layout.twig' %}

{% block body %}


    <div class="contain">
    {% for doc in docs %}
        <div class="doc">
            <div class="headerDoc">
				<h3>{{ doc.titre| truncate(27 - 3 - doc.domaine|length, false, '...') }} </h3>
                <h4>{{doc.domaine}}</h4>
            </div>
            <div class="corpDoc">
                <div class="description">
                    <p>{{doc.description}}</p>
                    <p>Ajouté par {{doc.author}}</p>
                    <p> le {{doc.date}}</p>
                </div>
                <a href="/app/download/{{doc._id}}"><i class="fas fa-download fa-3x"></i></a>
            </div>	
        </div>
    {% endfor %}
    </div>


{% endblock %}