{% extends 'layout.twig' %}

{% block body %}

   <div class="contain">
    <table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Dom</th>
            <th>Descripteurs</th>
            <th>Ajouté/modifié</th>
            <th>Auteur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for doc in docs %}
            <tr>
                <td class="alignLeft">{{doc.titre}}</td>
                <td>{{doc.domaine | truncate(5)}}</td>
                <td class="alignLeft espace">{{doc.description}}</td>
                
                    <td>{{doc.updatedat }}</td>
                
                <td>{{doc.author}}</td>
                <td>
                <a title="Télécharger" href="/app/download/{{doc._id}}"><i class="fas fa-download"></i></a>
                <a title="Modifier le document" class="modification" name="{{doc._id}}"><i class="fas fa-pencil-alt"></i></a>
                <a title="Partager le document" alt="{{doc.titre}}" class="partager" role="button" aria-haspopup="dialog" aria-controls="dialog" name="{{doc._id}}"><i class="fas fa-share-alt-square"></i></a>
                <a title="Supprimer le document" href="/app/delete/{{doc._id}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>



    </table>
    </div>
     
{% endblock %}