{% extends 'layout.twig' %}

{% block body %}

                        <form method="post" action="/app/SearchDocs" class="search">
                            <input type="text" name="recherche" placeholder="Votre recherche"></br>
                            <input type="submit" value="Rechercher">
                        </form>

  
        <div class="tri">

        </div>
        
            <div class="container">
                {% if recherche %}
                    <div class="filter">
                        <div class="reset">
                            <p>termes recherchés: {{recherche}}</p>
                            <a href="/app/resetrecherche"  title="Annuler la requête"><i class="far fa-times-circle"></i></a>
                            {% if  date1 and date2 %}
                                <p>Période de recherche de {{date1}} à {{date2}}</p>
                                <a href="/app/resetrechercheByPeriod"  title="Annuler la requête"><i class="far fa-times-circle"></i></a>
                            {% endif %}
                        </div>
                        <div class="filt">
                            <span class="params">Paramètres de recherche</span>
                                <form id="types" method="post" action="/app/SearchDocs/{{recherche}}/filter">
                                    <SELECT name="type" size="1" title="le type de fichier rechercher">
                                        <OPTION value="">Types de documents
                                        {% if types %}
                                            {% for type in types %}
                                                {% if typeSelect == type %}
                                                    <OPTION value="{{typeSelect}}" selected>{{typeSelect}}
                                                {% else %}
                                                    <OPTION value="{{type}}">{{type}}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </SELECT>
                                    <SELECT name="Domaine" size="1" title="DOmaine">
                                        <OPTION value="">Domaine du document
                                        {% if domaines %}
                                            {% for domaine in domaines %}
                                                {% if domaine != "" %}
                                                    {% if domaineSelect == domaine %}
                                                        <OPTION value="{{domaineSelect}}" selected>{{domaineSelect}}
                                                    {% else %}
                                                        <OPTION value="{{domaine}}">{{domaine}}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </SELECT>
                                    <div class="date">
                                        {% if date1 and date2%}
                                            <input type="date" name="date1" value="{{date1}}" title="Veuillez saisir la date de début de recherche">
                                            <input type="date" name="date2" value="{{date2}}" title="Veuillez saisir la date de fin de recherche">
                                        {% else %}
                                            <input type="date" name="date1"  title="Veuillez saisir la date de début de recherche">
                                            <input type="date" name="date2" title="Veuillez saisir la date de fin de recherche">
                                        {% endif %}
                                        </div>
                                <input type="submit">Tri par types</button>
                                    </form>
                                         

        

                        </div>
                    </div>
                    {% endif %}
                     
                    {% if docs %}
                    <div class="contain">
                        {% for doc in docs %}
                            <div class="doc">
                                <div class="headerDoc">
				                    <h3>{{ doc.titre|lower| truncate(26 - 3 - doc.domaine|length, false, '...') }} </h3>
                                    <h4>{{doc.domaine|lower}}</h4>
                                </div>
                                <div class="corpDoc">
                                    <div class="description">
                                        <p>{{doc.description}}</p>
                                        <p>Ajouté par {{doc.author}}</p>
                                        <p> le {{doc.date}}</p>
                                    </div>
                                    <a class="download" href="/app/download/{{doc._id}}"><i class="fas fa-download fa-3x"></i></a>
                                    <a class="apercu"  name="{{doc._id}}" ><i class="fas fa-search fa-3x"></i></a>
                                </div>	
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        {% if typeSelect %}
                            <p> aucun document ne correspond au filtre: {{typeSelect }}</p>
                        {% endif %}
                    {% endif %}
            </div>
    



   
        
{% endblock %}