{% extends 'layout.twig' %}

{% block body %}
    <h2>Mise à jour du profil de {{ user.username}}</h2>
<form method="post" id="add">

        <input type="text" name="name" value="{{user.username}}"></br>
        <input type="email" name="email" value="{{user.email}}"></br>
        <select name="role">
            {% if user.role %}
                <option value="{{ user.role }}" selected>{{user.role}}
            {% else %}
                <option value="Pas de role">Pas de role
            {% endif %}
        </select></br>
        <select name="service">
                    {% for service in services %}
                        {% if service == user.service %}
                            <option value="{{ service }}" selected>{{service}}
                        {% endif %}
                        <option value="{{ service }}" >{{service}}
                {% endfor %}
            
        </select></br>
        <select name="registerUser" id="registerUserauth-select">
    		<option value="">Cliquez pour définir si cet utilisateur a le droit d'inscrire d'autre personnes sous sa responsabilité</option>
			{% if user.autorisation == 'oui' %}
                <option value="oui" selected>Oui
                <option value="non" >Non
            {% else %}
                <option value="oui">Oui
			    <option value="non" selected>Non
            {% endif %}
				
		</select></br>
        <input type="text" name="site" value="{{user.site}}"></br>
        <input type="submit" value="Mettre à jour">


        



        










 
</form>





{% endblock %}